.DS_Store
/.idea/
/.dart_tool/
/.idea
/lib/versions/max/commands/init/boilerplate/.dart_tool/
/lib/versions/max/commands/init/boilerplate/pubspec.lock
/lib/versions/max/commands/init/boilerplate/.flutter-plugins-dependencies
/lib/versions/max/commands/init/boilerplate/macos/
